@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}

h2,
h3,
button {
  font-weight: 700;
}

li,
p {
  font-weight: 400;
}
